.mainPanel {
	font-size: 1.2rem;
}

#scroller{
    margin-top:10px;
    white-space: nowrap;
    overflow: auto;
    height:100px;
}
.ssnp{
    display: inline-block;
    text-align: center;
    border-radius: 40px;
    border: 2px solid #73AD21;

}
.Rectangle-Copy-8 {
  width: 375px;
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.cont {
	position: relative;
    text-align: center;
}

.popup-calendar {
	position: absolute;
	width: 10%;
	height: 10%;
}

.hangover {
	top: 66%;
	left: 19%;
}

.drunk {
	top: 34%;
	left: 59%;
}
.getting-there {
	top: 82%;
	left: 32%;
}

.popup-result {
	position: absolute;
    border-radius: 25px;
    background: #686868;
    padding: 20px; 
    top: 18%;
    left: 18%;
    width: 70%;
    height: 70%; 
}