<div ng-controller="drinkController" class="mainPanel">
    <div class="container" name="inputPanel">
        <p>Hello world! <h1>{{name}}</h1>inputPanel</p>
    </div>
    <div class="container" name="statusPanel">
        <p>Hello world! <h1>{{name}}</h1>statusPanel</p>
    </div>

    <div class="container" name="searchPanel">
        <p>Hello world! <h1>{{name}}</h1>searchPanel</p>
    </div>

    <div class="container" name="socialPanel">
        <p>Hello world! <h1>{{name}}</h1>socialPanel</p>
    </div>

</div>